.webdev {
    height: auto;
    width: auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: #000 2px 2px 5px;
}
.h2-lower {
    padding-top: 100px;
}
.upper-img {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.lower-content {
    padding: 30px;
}
.boundary {
    height: 5%;
    color: #d1cdcd;
    text-align: right;
}
@media (max-width: 768px) {
    .boundary {
        margin-right: 10px;
        font-size: 0.7rem;
    }
}
@media (max-width: 361px) {
    .boundary {
        margin-right: 10px;
        font-size: 0.5rem;
    }
}
